// $text-dark: #fff
$text-dark: #4b4a4f
$text-light: #aaafc6
$theme-color: #e44a5d

$dark-mode-text-light: #d8d8d8
$dark-mode-text-dark: #848484 

// $themes: (
// 	light: (
// 		bg: #fff
// 	),
// 	dark: (
// 		bg: #282c35
// 	),
// );
    
@import './header.sass'
@import './footer.sass'
@import './link.sass'
@import './loading.sass'
@import './about.sass'

body
    font-family: 'PT Sans Caption', sans-serif
    margin: 0 0 25px 0
    padding: 0
    border-top: 5px solid $theme-color 
    // background-color: #282c35
    
.app
    max-width: 768px
    margin-left: auto
    margin-right: auto

.app.dark
	// .theme-btn
	// 	color: $dark-mode-text-light !important
	.link-title
		color: $dark-mode-text-light !important
	.link-details
		color: $dark-mode-text-dark !important
	.form-action-secondary
		color: $text-light

.highlight
	cursor: pointer
	transition: all ease .3s
	// font-size: 1.1rem
	&:hover
		color: $theme-color	

.theme-btn
  position: relative
  margin: auto
  padding: 19px 22px
  transition: all .2s ease
  color: $text-dark
  cursor: pointer
  i
    font-size: 16px
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    display: block
    border-radius: 28px
    background: rgba($text-light,.5)
    width: 56px
    height: 56px
    transition: all .3s ease
  span
    position: relative
    font-size: 16px
    line-height: 18px
    font-weight: 900
    letter-spacing: .25em
    text-transform: uppercase
    vertical-align: middle
  &:hover
    &:before
      width: 100%
      background: rgba($text-light,1)
  &:active
    transform: scale(.96)

.input
  position: relative
  margin: 10px auto
  width: 100%
  max-width: 280px
  .label
    position: absolute
    top: 16px
    left: 0
    font-size: 16px
    color: #9098a9
    font-weight: 500
    transform-origin: 0 0
    transition: all 0.2s ease
  .border
    position: absolute
    bottom: 0
    left: 0
    height: 2px
    width: 100%
    background: #07f
    transform: scaleX(0)
    transform-origin: 0 0
    transition: all 0.15s ease
  input
    -webkit-appearance: none
    width: 100%
    border: 0
    font-family: inherit
    padding: 12px 0
    // height: 48px
    font-size: 16px
    font-weight: 500
    border-bottom: 2px solid #c8ccd4
    background: none
    border-radius: 0
    color: #223254
    transition: all 0.15s ease
    &:hover
      background: rgba(34, 50, 84, 0.03)
    &:not(:placeholder-shown) + span
      color: #5a667f
      transform: translateY(-26px) scale(0.75)
    &:focus
      background: none
      outline: none
      + span
        color: #07f
        transform: translateY(-26px) scale(0.75)
        + .border
          transform: scaleX(1)

.input.search
	max-width: 550px
	i
		position: absolute
		padding: 8px
		border-radius: 50%
		top: 13px
		right: 5px
		cursor: pointer
		transition: all .3s
		color: $text-light

		&:hover
			background-color: $theme-color
			color: #fff

.text-highlight
    color: $theme-color !important
    
.form
	display: flex
	flex-direction: column
	margin-top: 40px

.form-actions
	display: flex
	flex-direction: column
	align-items: center
	margin-top: 15px

.form-action-secondary
	margin-top: 12px
	font-size: 0.9rem

.underline-fill
  position: relative
  text-decoration: none
  display: inline-block
  cursor: pointer
  padding: 0 1px
  margin-left: 3px
  transition: color ease 0.3s
  a
	  text-decoration: none
	  color: inherit
	  font-weight: 600
  &::after
    content: ''
    position: absolute
    z-index: -1
    width: 100%
    height: 5%
    left: 0
    bottom: -3px
    background-color: $theme-color
    transition: all ease 0.3s
  &:hover
    color: white
    &::after
      height: 103%

.pagination-btn
	display: flex
	justify-content: center
	margin: 30px

	.prev,.next
		color: $text-light
		margin: 20px
		cursor: pointer
		transition: all .4s

		&:hover
			color: $text-dark

		.fal
			margin: 0 6px

	

