// $text-dark: #fff
$text-dark: #4b4a4f
$text-light: #aaafc6
$theme-color: #e44a5d
    
@import './header.sass'
@import './link.sass'

body
    font-family: 'PT Sans Caption', sans-serif
    margin: 0
    border-top: 5px solid $theme-color 
    // background-color: #282c35
    
.text-highlight
    color: $theme-color !important
    