$text-dark: #4b4a4f
$text-light: #aaafc6
$text-highlight: #e44a5d
    
@import './header.sass'
@import './link.sass'

body
    font-family: 'PT Sans Caption', sans-serif    
    
.text-highlight
    color: $text-highlight !important
    