#header
    .header-logo
        text-align: center
        .tagline
            text-transform: uppercase
            letter-spacing: 4px
            font-family: 'EliantoRegular'
            font-size: 2rem
            color: #e44a5d
    
    .links
        display: flex
        justify-content: space-between